@import "./animations.scss";

html {
    overflow: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

.node-editor {
    background-repeat: repeat;
}

.option-canvas {
    width: 100%;
    height: 20px;
}
